<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Collapsible Menu</title>
</head>
<body class="flex">

<div th:replace="fragments/componenets::top-bar('Admin Dashboard')"></div>
<div th:replace="fragments/componenets::side-menu(menuItems=${menuItems})"></div>

<div class="flex-1 p-4 ml-32">
    <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
        Welcome
    </div>
</div>

</body>
</html>
